.add-cat{
    margin-top: -2rem;
    margin-left: 50rem;
}












/* .show-card {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  }

  .hide-card {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  } */